nav {
    background-color: #333;
    padding: 10px 20px;
}
.nav-menu {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-menu li {
    margin-right: 20px;
    padding-left: 30px;
}
.nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-menu li a:hover {
    border-bottom: 1px solid;
    color: #ff7f32;
}
body {
    background-color: #D3D3D3; 
    color: black; 
}
body ul li{
    
    color:orangered;
    }
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-style: initial;
    text-shadow: 3px 2px #000;
    text-shadow:#FFFEC8 0 -1px 0,
    orangered 1px 1px 0,
    black 3px 3px 0,
    
   #333 5px 5px 10px;color:orangered;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
#acceuilDef{
    font-weight: 700;
}
.iconlist{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
    bottom: 0;
    width: 97%;
}
#date {
    text-align: right;
}
#contacter{
    text-align: left;
}
#hautDePage{
    text-align: center;
}
.img{
    position: absolute;
    mix-blend-mode: multiply;
    
    left: 50%;
    transform: translate(300%, -40%);
}
.oblique{
    font-style: oblique;
    ;
}
.mod{
    text-decoration-style: double;
}
.ft{
    text-align: center;
}

.imgd{
    position: absolute;
    mix-blend-mode: multiply;
    left: 50%;
    transform: translate(200%, -45%);
}
.tde{
    color: orangered;
    font-style: oblique;
}

.content {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}
.content h3{
    margin-top: 0;
    flex:0
}
.content p {
    flex: 3;
    text-align: justify;
}

.content img {
    flex: 1;
}


