nav {
    background-color: #333;
    padding: 10px 20px;
}

ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
    padding-left: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

ul li a:hover {
    border-bottom: 1px solid;
    color: #ff7f32;
}

body {
    background-color: #D3D3D3; 
    color: black; 
}
body ul li{
    
    color:orangered;
    }
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    font-style: initial;
    text-shadow: 3px 2px #000;
    text-shadow:#FFFEC8 0 -1px 0,
    orangered 1px 1px 0,
    black 3px 3px 0,
    
   #333 5px 5px 10px;color:orangered;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: orangered;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#acceuilDef{
    font-weight: 700;
}
.iconlist
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
    bottom: 0;
    width: 97%;
}
#date {
    text-align: right;
}
#contacter{
    text-align: left;
}

.img{
    position: absolute;
    mix-blend-mode: multiply;
    
    left: 50%;
    transform: translate(200%, -220%);
  
}
.oblique{
    font-style: oblique;
    ;
}
.mod{
    text-shadow: #D3D3D3;
    text-decoration-line: underline;
    text-decoration-style: double;
}
.ft{
    text-align: center;

}